@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
  font-family: "Archivo Narrow", sans-serif;
  background-color: #393b3e;
}

@layer base {

  body {
    @apply bg-white text-xl
  }

  main {
    @apply bg-white flex flex-col justify-center items-center
  }

  article {
    @apply w-[90%] md:w-[80%] flex flex-col items-center
  }

  h1, h2, h3, h4, h5 {
    @apply font-bold
  }

  h1 {
    @apply text-6xl md:text-6xl font-boldHeading
  }

  h2 {
    @apply text-4xl md:text-5xl font-heading text-gray-600 text-center my-[3%]
  }

  h3 {
    @apply text-2xl md:text-3xl font-heading text-gray-600 text-center my-[3%]
  }


  table {
    @apply my-[5%]  w-[100%] md:w-[80%]
  }

  th {
    @apply bg-black text-white text-center border-2 border-white
  }

  td {
    @apply bg-gray-300 text-center border-2 border-white
  }

}

.custom-img {
  /* background-image: url(https://images.unsplash.com/photo-1618947084583-07ff857ca918?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80); */
  /* background-image: url(https://images.pexels.com/photos/3693581/pexels-photo-3693581.jpeg); */
  /* background-image: url(https://images.pexels.com/photos/2253573/pexels-photo-2253573.jpeg); */
  /* background-image: url(https://images.pexels.com/photos/2397651/pexels-photo-2397651.jpeg); */
  /* background-image: url(https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); */
  background-image: url(https://images.pexels.com/photos/1784712/pexels-photo-1784712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1); 

}

.bg-img1 {
  background-image: url(https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  /* sunset */
}

.bg-img2 {
    background-image: url(https://images.pexels.com/photos/2397651/pexels-photo-2397651.jpeg);
    /* underwater */
}

.bg-img3 {
  background-image: url(https://images.pexels.com/photos/1784712/pexels-photo-1784712.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  /* city */
}

.bg-img4 {
  background-image: url(https://images.pexels.com/photos/2253573/pexels-photo-2253573.jpeg);
  /* waves */
}


.bg-img5 {
  background-image: url(https://user-images.githubusercontent.com/77664153/222523424-5f9e37e3-4775-4802-9919-4b2ef4da39b9.png);
  /* waves */
}

